### Ushbu qo'llanma pandas kutubxonasiga taaluqli misollar to'plamini taqdim etadi

<hr>

<br>
<br>

In [131]:
import pandas as pd

##### Urinishlar bazasini excel faylidan o'qib olamiz

In [132]:
df = pd.read_excel('attempts.xlsx', 'Sheet')
df

,id,user,problem_title,problem_difficulty,lang,verdict,test_case_number,time,memory,created
0,4,nazarbek_baltabaev_2,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
1,5,nazarbek_baltabaev_2,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
2,6,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
3,7,rustam_ramanov,Ikki sonni yig`indisi,Boshlangich,py,Noto'g'ri javob,1,0,0,2021-02-03 09:26:10
4,8,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Vaqt chegarasi oshib ketdi,1,0,0,2021-02-03 09:26:10
...,...,...,...,...,...,...,...,...,...,...
68803,69927,Ozodbek,Funksiyalar | add,Boshlangich,py,Ishlashdaki xatolik,1,10,6392,2022-07-22 06:58:50
68804,69928,Ozodbek,Funksiyalar | add,Boshlangich,py,Ishlashdaki xatolik,1,10,0,2022-07-22 06:59:31
68805,69929,Ozodbek,Funksiyalar | add,Boshlangich,py,Ishlashdaki xatolik,1,10,0,2022-07-22 07:00:40
68806,69930,Ozodbek,Funksiyalar | add,Boshlangich,py,Object not found,1,10,6484,2022-07-22 07:01:33
68807,69931,Ozodbek,Funksiyalar | add,Boshlangich,py,Ishlashdaki xatolik,1,1,6424,2022-07-22 07:02:12

<br>

##### Dastlabki <b>10 ta</b> yozuvni chiqarish

In [133]:
df.head(10)

,id,user,problem_title,problem_difficulty,lang,verdict,test_case_number,time,memory,created
0,4,nazarbek_baltabaev_2,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
1,5,nazarbek_baltabaev_2,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
2,6,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
3,7,rustam_ramanov,Ikki sonni yig`indisi,Boshlangich,py,Noto'g'ri javob,1,0,0,2021-02-03 09:26:10
4,8,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Vaqt chegarasi oshib ketdi,1,0,0,2021-02-03 09:26:10
5,9,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Ishlashdaki xatolik,1,0,0,2021-02-03 09:26:10
6,10,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Ishlashdaki xatolik,1,0,0,2021-02-03 09:26:10
7,11,doniyor_samandarov,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
8,12,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Ishlashdaki xatolik,1,0,0,2021-02-03 09:26:10
9,13,doniyor_samandarov,Ikki sonni yig`indisi,Boshlangich,py,Vaqt chegarasi oshib ketdi,1,0,0,2021-02-03 09:26:10

<br>

##### Ohirgi yozuvni chiqarish

In [134]:
df.tail(1)

,id,user,problem_title,problem_difficulty,lang,verdict,test_case_number,time,memory,created
68807,69931,Ozodbek,Funksiyalar | add,Boshlangich,py,Ishlashdaki xatolik,1,1,6424,2022-07-22 07:02:12

<br>

##### <b>id</b> ustunini olish. Qaytarilgan obyekt <b>Series</b> turida bo'ladi

In [135]:
df['id']

0            4
1            5
2            6
3            7
4            8
         ...
68803    69927
68804    69928
68805    69929
68806    69930
68807    69931
Name: id, Length: 68808, dtype: int64

<br>

##### Foydalanuvchi nomini uzunliklarini olish

In [136]:
df['user'].map(lambda value: len(value))

0        20
1        20
2         9
3        14
4         9
         ..
68803     7
68804     7
68805     7
68806     7
68807     7
Name: user, Length: 68808, dtype: int64

<br>

##### <b>2 ta</b> ustunni olish

In [137]:
df[['id', 'user']]

          id                  user
0          4  nazarbek_baltabaev_2
1          5  nazarbek_baltabaev_2
2          6             TimurXboy
3          7        rustam_ramanov
4          8             TimurXboy
...      ...                   ...
68803  69927               Ozodbek
68804  69928               Ozodbek
68805  69929               Ozodbek
68806  69930               Ozodbek
68807  69931               Ozodbek

[68808 rows x 2 columns]

<br>

##### Yangi ustun qo'shish

In [138]:
df2 = df[['id', 'user']].copy()
df2['length'] = df2['user'].map(lambda value: len(value))
df2

          id                  user  length
0          4  nazarbek_baltabaev_2      20
1          5  nazarbek_baltabaev_2      20
2          6             TimurXboy       9
3          7        rustam_ramanov      14
4          8             TimurXboy       9
...      ...                   ...     ...
68803  69927               Ozodbek       7
68804  69928               Ozodbek       7
68805  69929               Ozodbek       7
68806  69930               Ozodbek       7
68807  69931               Ozodbek       7

[68808 rows x 3 columns]

<br>

##### Qancha takrorlanmas foydalanuvchi borligini hisoblaymiz

In [139]:
df['user'].unique().size

815

<br>

##### <b>memory</b> ustuni qiymatini <b>1024</b> ga bo'lamiz

In [140]:
df['memory'] / 1024

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
68803    6.242188
68804    0.000000
68805    0.000000
68806    6.332031
68807    6.273438
Name: memory, Length: 68808, dtype: float64

<br>

##### Qabul qilinmagan nechta urinish borligini hisoblaymiz

In [141]:
(df['verdict'] != 'Qabul qilindi').sum()

36202

<br>

##### Qabul qilinmagan urinishlar orasida <b>test_case_number</b> qiymati eng katta bo'lgan qatorni topamiz

In [142]:
max_test_case_number = df[df['verdict'] != 'Qabul qilindi']['test_case_number'].max()
df[df['test_case_number'] == max_test_case_number]

,id,user,problem_title,problem_difficulty,lang,verdict,test_case_number,time,memory,created
54655,55719,Dasturchi,Antimasala #2,Normal,py,Noto'g'ri javob,998,0,0,2022-04-01 15:37:15

<br>

##### Eng ko'p va eng kam urinish qilingan masalalarni topamiz

In [143]:
s = df.groupby(['problem_title'])['id'].count()
s

problem_title
"Hello, Python'            414
0 ga eng yaqini #1         116
0 ga eng yaqini #2         152
0 ga eng yaqini #3         122
1 marta uchragan son #1     81
                          ...
tkinter | set_size #1        9
tkinter | set_size #2        6
tkinter | set_title         10
Самовлюбленные числа #1     36
Самовлюбленные числа #2     22
Name: id, Length: 1228, dtype: int64

In [144]:
s[s == s.max()]

problem_title
Ikki sonni yig`indisi    1293
Name: id, dtype: int64

In [145]:
s[s == s.min()]

problem_title
Darajalar #2                       1
HTML 18                            1
Maksimal GCD #2                    1
Multithread | Matrix               1
Nochiziqli tenglama                1
Pandas | Series | get_mean         1
Pandas | Series | get_peak_locs    1
Parsing |  openpyxl | moex.com     1
Qoplash                            1
Regex | O'zgaruvchini nomlash      1
Shoxzod va frilanser #3            1
Sonlar ketma-ketligi               1
tkinter | set_entry_text           1
Name: id, dtype: int64

<br>

##### Har bir masalani qancha foydalanuvchi(takrorlanmas) ishlaganini hisoblaymiz

Dastlab har bir masala va foydalanuvchi takrorlangan natijalarni olib tashlaymiz

In [146]:
df2 = df.drop_duplicates(['user', 'problem_title', 'verdict'])
df2

,id,user,problem_title,problem_difficulty,lang,verdict,test_case_number,time,memory,created
0,4,nazarbek_baltabaev_2,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
2,6,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Qabul qilindi,1,0,0,2021-02-03 09:26:10
3,7,rustam_ramanov,Ikki sonni yig`indisi,Boshlangich,py,Noto'g'ri javob,1,0,0,2021-02-03 09:26:10
4,8,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Vaqt chegarasi oshib ketdi,1,0,0,2021-02-03 09:26:10
5,9,TimurXboy,Ikki sonni yig`indisi,Boshlangich,py,Ishlashdaki xatolik,1,0,0,2021-02-03 09:26:10
...,...,...,...,...,...,...,...,...,...,...
68798,69922,Ozodbek,4 va 6 yoki 5,Normal,py,Qabul qilindi,4,10,6156,2022-07-22 06:38:14
68799,69923,Ozodbek,Tenglamalar sistemasi,Asoslar,py,Qabul qilindi,3,10,6252,2022-07-22 06:46:37
68800,69924,Ozodbek,Tartiblash 1,Boshlangich,py,Qabul qilindi,21,10,6212,2022-07-22 06:53:48
68801,69925,Ozodbek,Funksiyalar | add,Boshlangich,py,Ishlashdaki xatolik,1,10,6196,2022-07-22 06:57:37
68802,69926,Ozodbek,Funksiyalar | add,Boshlangich,py,Object not found,1,1,6376,2022-07-22 06:58:11

In [147]:
by_problem = df2.groupby('problem_title', sort=False)  # masala bo'yicha guruhlash
by_problem['verdict'].apply(lambda s: (s == 'Qabul qilindi').sum())

problem_title
Ikki sonni yig`indisi                287
Ikki sondan kattasi                  260
Statistika elementlari               182
Ildizlar yig'indisi                  177
Ildizlar yig'indisi 2                 54
                                    ...
Pandas | Series | get_mean             1
Pandas | Series | get_peak_locs        1
Pandas | Series | get_days             2
Pandas | DataFrame | rename_job        2
Pandas | DataFrame | get_youngest      2
Name: verdict, Length: 1228, dtype: int64